{% trans_default_domain 'tp-symfony' %}
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">{{ 'screening.title'|trans }}: {{ screening.movie.title }}</h1>
    <div class="container my-5">
        <div class="d-flex p-2" style="gap: 20px">
            <img style="width: 30%;" class="card-img-top" src="{{ asset('asset/images/' ~ screening.movie.image) }}" alt="Card image cap">
            <div class="card-body col-3R">
                <h5 class="card-title">{{ screening.movie.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Release: {{ screening.movie.releaseDate|date('Y-m-d') }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Duration: {{ screening.movie.duration }} min</h6>
                <p class="card-text">{{ screening.movie.description }}</p>
                <h6 class="card-subtitle mb-2 text-muted">Places: {{ screening.room.capacity - screening.tickets|length }} / {{ screening.room.capacity }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Start at: {{ screening.startTime|date('H:i') }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">End at: {{ screening.endTime|date('H:i') }}</h6>
                {{ include('ticket/_form.html.twig') }}
            </div> 
        </div>
    </div>
    <a class="btn btn-secondary mb-3" href="{{ path('app_home') }}">back home</a>
{% endblock %}